---
import Layout from "../layouts/Layout.astro";
import EventTimeline from "../components/EventTimeline";
import CommunityList from "../components/CommunityList";
---

<Layout title="Events">
	<main class="px-8">
		<div class="flex flex-row sm:gap-10 gap-4 mx-auto justify-center">
			<span class=" w-1/5 hidden md:block">
				<CommunityList client:only="react" />
			</span>
			<span class="md:w-4/5 ">
				<EventTimeline client:only="react" />
			</spanfle>
		</div>
	</main>
</Layout>
