---
import Layout from "../layouts/Layout.astro";
import EventTimeline from "../components/EventTimeline";


const testBoxes = Array(20).fill(null);
---

<Layout title="Events">
	<main class="px-8">
		<div class="flex flex-row sm:gap-10 gap-4 mx-auto justify-center">
			<div class="w-20 sm:w-60 hidden sm:grid gap-1">
				{testBoxes.map((el)=>(<div class="bg-gray-200"></div>))}
			</div>
			<EventTimeline client:only="react" />
		</div>
	</main>
</Layout>
