---
import Layout from "../layouts/Layout.astro";
import LoginSignupForm from '../components/LoginSignupForm.jsx';

// const { cookies, redirect } = Astro;

// const email = cookies.get("email");
// const password = cookies.get("password");

// if (email && password) {
// 	redirect('/events')
// }

---

<Layout title="Community Restoration Project">
	<main>
		<div class=" rounded-lg mx-auto max-w-md pb-10">
			<LoginSignupForm client:only = 'react'/>
		</div>
	</main>
</Layout>
