<div>
    <div class="py-20  px-8 bg-secondary">
        <div class="md:grid flex flex-wrap grid-cols-5 mx-auto max-w-5xl items-end justify-between h-full gap-y-8 gap-x-20 text-gray-000">
            <div class="w-full flex-grow col-span-2">
                <div class="flex flex-wrap gap-6">
                    <img class="" src="/phil.png" alt="phil">
                    <div >
                        <p>Phil founded the Community Restoration Project because he believes that every family and individual in our community can succeed if a formula for success is present. As a seasoned social services executive, Phil most recently served as executive director of Georgia Works! </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <h1 class=" text-xl font-bold">Company</h1>
                <h6>About</h6>
                <h6>Legal</h6>
                <h6>Contact Us</h6>
            </div>
            <div class="flex flex-col gap-4">
                <h1 class=" text-xl font-bold">Company</h1>
                <h6>About</h6>
                <h6>Legal</h6>
                <h6>Contact Us</h6>
            </div>
             <div class="flex flex-col gap-4">
                <h1 class=" text-xl font-bold">Company</h1>
                <h6>About</h6>
                <h6>Legal</h6>
                <h6>Contact Us</h6>
            </div>
        </div>
    </div>
    <div class=" bg-white px-8 py-10 ">
        <div class="max-w-5xl  mx-auto items-center flex">
            <div class="  me-auto"><img class="" src="/logo.png" alt=""></div>
            <div class=" text-gray-500">© 2024 Community Restoration Project </div>
        </div>
    </div>
</div>
